
.TopBanner{
    background-image: url("../../images/banner.png");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.servicesDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.dropDown a{
    text-decoration: none;
    margin-left: 5px;
    color: black;
    
}


.pagination{
    margin: 30px;
}
.pagination button{
    padding: 0 10px;
    margin-right: 20px;
}
.pagination .selected{
    background-color: rgb(43, 43, 224);
    color: white;
}

.icon-color{
    color: gold;
}